<div class="pokemon-card">
    <div class="card-header">
        <span class="pokemon-name1">Electric</span>
        <span class="pokemon-name1">Pikachu</span>
        <span class="pokemon-name1">800</span>
        <div id="heart"></div>
    </div>
    <div class="card-image">
        <figure class="card-img-container">
            <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/963e4622-ef37-4dce-9d43-70b7dd8e0c2d/dg344vq-fd910810-960a-4159-8b6e-727bd31515c4.png/v1/fill/w_1280,h_1707/pikachu__png_base__by_sergibluebird16_dg344vq-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTcwNyIsInBhdGgiOiJcL2ZcLzk2M2U0NjIyLWVmMzctNGRjZS05ZDQzLTcwYjdkZDhlMGMyZFwvZGczNDR2cS1mZDkxMDgxMC05NjBhLTQxNTktOGI2ZS03MjdiZDMxNTE1YzQucG5nIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.8xoRvf-ULf8gDMaW_V0dD1kI3yiwz5UHfZox4hBJxIM"
                alt="" class="card-img">
        </figure>
    </div>
    <div class="card-content">
        <div 
            style="position: absolute; top: 0; width: 100%; color: white; display: flex; justify-content: center; gap:10px">
            <span>Attack: 100</span>
            <span>Defense: 200</span>
            <span>Speed: 400</span>
        </div>
        <div class="" style="padding: 5px;">
            <p style="background-color: rgba(255, 0, 0, 0); text-align: justify;">
                Descripcion:
                Bulbasaur es conocido como el Pokemon semilla. Tiene una base de felicidad de 70 y una tasa de captura
                del 45%.
                Pertenece al grupo de huevo moster y grass. su habitad natural es en las praderas. Bulbasaur es de color
                verde y tiene forma de
                cuadrupedo, Su crecimiento de ritmo medio-lento. Al nacer, se le plata una extrana semilla en su
                espalda, la cual crece y se desarrolla con este Pokemon
            </p>
            <ul style="position: absolute;top: -67%;z-index: 100;right: 0;color: white;list-style: none; text-align: left; padding: 10px;">
                debilidades
                <li>Volador</li>
                <li>Veneno</li>
                <li>Bicho</li>
                <li>Fuego</li>
                <li>Hielo</li>
            </ul>
        </div>
    </div>
</div>
<!-- 
    stats
hp
attack
defense
speed
-->

<!-- 
    type

 -->