
<div *ngIf="isLoading" style="margin-top: 300px;">
    cargando...
</div>
<div class="pokemon-card" *ngIf="!isLoading" typeColorSelector [typeColor]="pokemon?.types">
    <div class="card-header d-flex">
        <span class="pokemon-name1 text-capitalize">Name: {{ pokemon?.name }}</span>
        <span>Types:</span>
        <span class="pokemon-name1 text-capitalize" *ngFor="let type of pokemon?.types"> {{type.type.name}}</span>
        <span class="pokemon-name1"></span>
        <!-- <div id="heart"></div> -->
    </div>
    <div class="card-image">
        <figure class="card-img-container">
            <!-- <img [src]="pokemon?.sprites?.other?.dream_world?.front_default" class="card-img"/> -->
            <img  [src]="pokemon?.image" alt="" class="card-img" pokemonDefaultImage [image]="pokemon?.image">
        </figure>
    </div>
    <div class="card-content">
        <div class="circle" typeColorSelector [typeColor]="pokemon?.types"></div>
        <div class="stats">
            <span class="text-capitalize" *ngFor="let stat of pokemon?.stats">{{ (stat?.stat?.name ==='special-attack' || stat?.stat?.name === 'special-defense' ) ? "" : stat?.stat?.name +": "+ stat?.base_stat  }}</span>
        </div>
        <div class="" style="padding: 5px;">
            <p style="background-color: rgba(255, 0, 0, 0); text-align: justify;">
                Description: {{ description }}
            </p>
            <ul class="ul">
                Debilities
                <li class="text-capitalize" *ngFor="let debility of debilities">{{ debility?.name }}</li>
            </ul>
        </div>
    </div>
</div>
