<div class="pokemon-game">
    <div>
        <div class="buttons-container d-flex justify-center gap-1">
            <button class="btn">Start</button>
            <button class="btn">Try again</button>
        </div>
        <div class="pokemon-card">
            <figure class="pokemon-image">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png" alt="" class="img">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png" alt="" class="img">
            </figure>
            <div class="pokemon-car-title">
                Who is this <img src="../../../../../assets/logo.webp" width="150">?
            </div>
        </div>
        <div class="pokemon-list-name">
            <ol class="pokemon-list d-flex gap-1">
                <li class="pokemon-item">A) item1item1item1item1</li>
                <li class="pokemon-item">B) item1</li>
                <li class="pokemon-item">C) item1</li>
                <li class="pokemon-item">D) item1</li>
            </ol>
        </div>
        <div class="result-container">
            Good job!!
        </div>
    </div>
</div>