:root {
    --red-50: #fff0f0;
    --red-100: #ffdddd;
    --red-200: #ffc0c0;
    --red-300: #ff9494;
    --red-400: #ff5757;
    --red-500: #ff2323;
    --red-600: #ff0000;
    --red-700: #d70000;
    --red-800: #b10303;
    --red-900: #920a0a;
    --red-950: #500000;
}
/* #ff0000 */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.d-flex{
    display: flex;
}
.d-grid{
    display: grid;
}
.cols-4{
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(1, auto);
}
.container{
    /* width: 1240px; */
    width: 100%;
    margin: auto;
}

.flex-wrap{
    flex-wrap: wrap;
}

.gap-1{
    gap: 10px;
}

.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.justify-around{
    justify-content: space-around;
}

.mb-1{
    margin-bottom: 15px;
}

.mt-1{
    margin-top: 130px;
}

.overflowx-auto{
    overflow-x: auto;
    min-width: none;
}

.text-capitalize{
    text-transform: capitalize;
}
@media screen and (min-width:960px) {
    .container{
        width: 80%;
    }
    .justify-md-between{
        justify-content: space-between;
    }
}
@media screen and (min-width:1280px) {
    .container{
        width: 1240px;
    }
}
.bug{
    background-color: #008000 !important;
}

.dark{
    background-color: #000000 !important;
}

.dragon{
    background-color: #9a9af9 !important;
}

.electric{
    background-color: #ffff00 !important;
}

.fairy{
    background-color: rgb(241, 52, 52) !important;
}

.fighting{
    background-color: #e07a14 !important;
}

.fire{
    background-color: #b80909 !important;
}

.flying{
    background-color: #8a8af5 !important;
}

.ghost{
    background-color: #808080 !important;
}

.grass{
    background-color: rgb(4, 174, 4) !important;
}

.ground{
    background-color: rgb(138, 23, 23) !important;
}

.ice{
    background-color: #b9b9fc !important;
}

.normal{
    background-color: #b2afaf !important;
}

.poison{
    background-color: rgb(232, 32, 232) !important;
}

.psychic{
    background-color: rgb(255, 0, 43) !important;
}

.rock{
    background-color: #a52a2a !important;
}

.steel{
    background-color: rgb(123, 152, 111) !important;
}

.water{
    background-color: #3434f0 !important;
}



/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #00D46A #E1E1E1;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #E1E1E1;
}

*::-webkit-scrollbar-track:hover {
  background-color: #8B8B8B;
}

*::-webkit-scrollbar-track:active {
  background-color: #373737;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #00D46A;
  border: 1px solid #FFFFFF;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #1DA345;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #167E35;
}
